<div class="row" id="div1">
    <div class="col-lg-3">
      <div class="row" id="mybill">
          <div class="col-lg-7">
                
            PRESS<button id="btn_bill">INFO</button><br/>
                   
            TO DISPLAY
          </div>
          <div class="col-lg-2" id="book">
                <span class="glyphicon glyphicon-book"></span>
          </div>
          <div class="col-lg-3" id="bookword">
            My<b>Bill</b>
      </div>
          
      </div>
    </div>
    <div class="col-lg-3">
        <div class="row" id="levelback">
            <div class="col-lg-7" id="submenu">
                PRESS<button id="btn_menu">MENU</button><br/>
                TO MOVE ON
            </div>
            <div class="col-lg-5">
                LEVEL<b>BACK</b>

            </div>
        </div>
    </div>
    <div class="col-lg-3" id="fathermenu">
        <div  class="row" id="menu">
            <div class="col-lg-7" id="submenu">
                PRESS<button id="btn_exit">EXIT</button><br/>
                TO CLOSE
            </div>
            <div class="col-lg-5">
                  THE<b>MENU</b>

            </div>
          
        </div>
    </div>