<div id="menu" class="row">
    <div class="col-lg-3">
      <div class="row" id="mybill">
          <div class="col-lg-7">
                <p>
                        PRESS<button>INFO</button>
                    </p>
                  <p>TO DISPLAY</p>
          </div>
          <div class="col-lg-5">
                <a href="#"><span class="glyphicon glyphicon-book"></span>My<b>Bill</b></a>
          </div>
          
      </div>
    </div>
    <div class="col-lg-3">
          <div id="levelback">
            <p>PRESS<button>MENU</button> </p>
            <p>TO MOVE ON</p>
          </div>
    </div>
    <div class="col-lg-3">
        <div  class="row" id="menu">
            <div class="col-lg-8" id="submenu">
                    <p>PRESS<button>EXIT</button> </p>
                    <p>TO CLOSE</p>
            
            
            </div>
            <div class="col-lg-4">
                    My Bill

            </div>
          
        </div>
    </div>