
@media screen and (min-width:1281px){
    /* @media screen and (max-height:1080px)and (max-width:1920px){  */
    #total{
        padding-top: 5%;
        height: 200px;
        
        
        background:radial-gradient(
      circle at top center,
      white ,
      #D7AB6D 25%
    );
    color :white;
      font-family: 'Goudy Old Style';
      font-size: 50px;
        opacity: 0.7;
        padding-left: 30%;
        border-left: solid 3px blueviolet;
        margin-left:3%;
        
    }
    #totalsub{
        padding-top: 5%;
        font-size: 30px;

    }
    #clientname{
        background-color: black;
        opacity:0.7;
        height: 200px;
        text-align: right;
        padding: 2%;
        line-height: 1;
        margin-right: 0px;
        margin-left: 0px;
        
        
    }
    #MR_name{
        color:white;
        font-family: 'Goudy Old Style';
        font-size: 48px;
    }
    #room_no{
        font-family: 'Goudy Old Style';
        font-size: 36px;
        color:#b36b00;
    }
     
    .row .col-sm-6{
        margin-left: 5.5%;
        margin-right: 0px; 
        padding-left: 0px;
        padding-right: 0px;
        width:65%;
    }
    .row .col-sm-4{
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
        
    }
    .row .col-sm-3{
        width:29.5%;
    }
    .row .col-sm-6{
        
    }
    #subname{
        

    }
    #cat{
        border-top: solid #b36b00 1px;
        text-align: left;
        color:white;
        font-family: 'Goudy Old Style';
        font-size: 30px;
        padding-top: 2%;
        
    }
    .glyphicon .glyphicon-menu-right{
      color:#b36b00;  
    }
    img{
        height: 200px;
        width:70%;
    }
   
       
}
@media (max-height: 720px) and (max-width: 1280px) {
    #total{
        height: 130px;
        width:110%;
        
        background:radial-gradient(
      circle at top center,
      white,
      #D7AB6D 75%
      
    );
        color :white;
        font-family: 'Goudy Old Style';
        font-size: 36px;
        line-height: 1;
        opacity: 0.7;
        padding-left: 30%;
        border-left: solid 3px blueviolet;
        margin-left:6%;
        padding-top:2%;
        
        
    }
    #totalsub{
     
      font-size: 24px;
      
    }
   
    .row .col-sm-3{
        width:27%;
    }
    .row .col-sm-4{
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    #subname{
        

    }
    #cat{
        border-top: solid #b36b00 1px;
        text-align: left;
        color:white;
        font-family: 'Goudy Old Style';
        font-size: 24px;
        
    }
    .row .col-sm-6{
        margin-left: 5.5%;
        margin-right: 0px; 
        padding-left: 0px;
        padding-right: 0px;
        width:63.5%;
    }
    #clientname{
        background-color: black;
        opacity:0.7;
        height: 130px;
        text-align: right;
        padding-right: 50%;
        line-height: 1;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 15px;
        
    }
    #MR_name{
        color:white;
        font-family: 'Goudy Old Style';
        font-size: 36px;
    }
    #room_no{
        font-family: 'Goudy Old Style';
        font-size: 24px;
        color:#b36b00;
    }
     
   
}