<div class="row">
  <div class="col-sm-3">
    <div  id="total">
      ROOM<br/>
      <b>SERVICES</b>
      <div id="totalsub"><span>YOUR TOTAL : </span>{{total}}</div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <!-- black box -->
      <div class="col-sm-8" id="clientname">
        <div id="subname">
            <p id="MR_name"><span>Mr </span> {{Name}} {{Surname}}</p>
            <p id="room_no"><span>ROOM </span> {{RoomNo}}</p>
        </div>
        <div id="cat">
            <span class="glyphicon glyphicon-menu-right">CHOOSE CATEGORY BELOW</span>
        </div>
         
          
      </div>
      <div class="col-sm-4">
          
          <img id="logosummit" src="./src/assets/images/logosummit.png">

      </div>
    </div>
    <div >
      
          
        
      
    </div>

    
  </div>
 

</div>
