<div class="row">
  <div class="col-sm-3">
    <div  id="total">
      <p style="color:white;
      font-family: 'Courier New', Courier, monospace">Room</p>
      <p>Services</p>
      <p>yourtotal:0.00</p>
    </div>
  </div>

  <div class="col-sm-6" style="margin-left: 6%;margin-right: 0px;padding-left: 0px;padding-right: 0px;width:60%">
    <div class="row">
      <div class="col-sm-8" id="clientname" style="margin-right: 0px;margin-left: 0px;padding-right: 0px;">
        <div>
            <p>Mr.Name Surname</p>
            <p>Room A20</p>
        </div>
        <div>
            <H3>Choose Category Below</H3>
        </div>
         
          
      </div>
      <div class="col-sm-4" style="margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px;">
          
          <img id="logosummit" src="./src/assets/images/logosummit.png">

      </div>
    </div>
    <div >
      
          
        
      
    </div>

    
  </div>
 

</div>
